<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArduinoTwitchBot.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ArduinoTwitchBot.UI.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ChannelName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FollowAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FollowAlertValue" serializeAs="String">
                <value />
            </setting>
            <setting name="FollowAlertType" serializeAs="String">
                <value />
            </setting>
            <setting name="SubAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubAlertValue" serializeAs="String">
                <value />
            </setting>
            <setting name="SubAlertType" serializeAs="String">
                <value />
            </setting>
            <setting name="BitsAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BitsAlertValue" serializeAs="String">
                <value />
            </setting>
            <setting name="BitsAlertType" serializeAs="String">
                <value />
            </setting>
            <setting name="RaidAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RaidAlertValue" serializeAs="String">
                <value />
            </setting>
            <setting name="RaidAlertType" serializeAs="String">
                <value />
            </setting>
            <setting name="HostAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HostAlertValue" serializeAs="String">
                <value />
            </setting>
            <setting name="HostAlertType" serializeAs="String">
                <value />
            </setting>
            <setting name="EmoteAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmoteAlertValue" serializeAs="String">
                <value />
            </setting>
            <setting name="EmoteAlertType" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatMessageEntries" serializeAs="String">
                <value />
            </setting>
        </ArduinoTwitchBot.UI.Properties.Settings>
    </userSettings>
</configuration>